/* @override 
	http://bryanconnor.com/style.css */

* {
   vertical-align: baseline;
   font-weight: inherit;
   font-family: inherit;
   font-style: inherit;
   font-size: 100%;
   border: 0 none;
   padding: 0;
   margin: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body{
	background: #FFFFFF; 
	color: #FFF;
	
}

.header{
	background: #E4A010;
	padding: 5% 3% 2% 5%;
}

.samples{
	padding: 0% 3% 5% 5%;
}

.footer{
	background: #146B79;
	padding: 5% 3% 2% 5%;
}


.constrain{
	width: 800px;
	display: block;
}

h1{
	font-family: "omnes-pro-1","omnes-pro-2", Helvetica, Arial, sans-serif;
	margin-bottom: 60px;
	font-size: 2.2em;
	line-height: 140%;
}

h1 a{
	color: #2a2a2a;
	text-decoration: none;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out; 
	-o-transition: all 0.1s ease-out;  
	transition: all 0.1s ease-out; 
}

h1 a:hover{
	color: #FFF;
	border-color: #FFF;
}

::-moz-selection{background:#00686d;color:#FFF;}
::selection{background:#00686d;color:#FFF;}

.more{
	position: absolute;
	top: 10%;
	right: 5%;
}

.more a{
	text-decoration: none;
	font-size: 18px;
	text-decoration: none;
	border: none;
	display: block;
	text-align: right;
	font-family: "omnes-pro-1","omnes-pro-2", Helvetica, Arial, sans-serif;
	line-height: 150%;
	color: #6fccdd;
	margin-bottom: 20px;
}

.more img{
	width: 25px;
	height: 25px;
	margin-bottom: -7px;
	padding-left: 6px;
}

.work-sample{
	margin-top: 100px;
}

.work-sample h1{
	margin-bottom: 25px;
}

.work-sample p{
	font-family: "chaparral-pro-caption-1","chaparral-pro-caption-2";
	font-weight: 100;
	font-size: 16px;
	line-height: 140%;
	color: #000000;
}

p.constrain{
	width: 48%;
}

.visual{
	margin-top: 25px;
}

.visual img{
	width: 48%;
	float: left;
	margin-right: 1%;
	margin-bottom: 15px;
}

/* beginning of swipe*/

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width:100%;
  position: relative;
}
/* end swipe */

@media screen and (max-width: 800px) {
	.constrain, p.constrain{
		width: 100%;
	}
}

@media screen and (max-width: 675px) {
	h1{
		font-size: 1.8em;
	}
}

@media screen and (max-width: 480px) {
	h1{
		font-size: 1.3em;
		margin-bottom: 30px;
	}
}